<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="da.delightedanimation">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".feature.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.step1.list.Step1ListActivity"
            android:label="@string/title_activity_step1"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".feature.step1.detail.Step1DetailActivity"
            android:label="@string/title_activity_step1"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".feature.step2.list.Step2ListActivity"
            android:label="@string/title_activity_step2"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".feature.step2.detail.Step2DetailActivity"
            android:label="@string/title_activity_step2"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".feature.step3.list.Step3ListActivity"
            android:label="@string/title_activity_step3"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".feature.step3.detail.Step3DetailActivity"
            android:label="@string/title_activity_step3"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".feature.step4.list.Step4ListActivity"
            android:label="@string/title_activity_step4"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".feature.step4.detail.Step4DetailActivity"
            android:label="@string/title_activity_step4"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".feature.step5.list.Step5ListActivity"
            android:label="@string/title_activity_step5"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".feature.step5.detail.Step5DetailActivity"
            android:label="@string/title_activity_step5"
            android:theme="@style/AppTheme.NoActionBar"/>

    </application>

</manifest>